@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

@layer base {
  body {
    @apply bg-white text-gray-900;
  }
}

@layer components {
  .custom-button {
    @apply text-white font-bold px-4 py-2 rounded;
  }
  .red {
    @apply border border-red-500;
  }
  .custom-toast{
    @apply  !w-[560px] !h-[55.6px]  !rounded-[8px];
  }
}

.react-international-phone-input {
  font-size: 14px !important;
  height: 40px !important;
  background-color: #f3f4f6 !important;
  /* border-radius: 0 100px 100px 0 !important; */
}

.react-international-phone-input-container:focus-within {
  /* border-radius: 100px; */
  outline: 1px solid hsl(var(--primary));
}

.react-international-phone-country-selector-button {
  height: 100% !important;
  border: 0 !important;
  padding: 4px !important;
  border-right: 1px solid #e2e2e2 !important;
  border-radius: 6px 0 0 6px !important;
  background-color: #f3f4f6 !important;
  pointer-events: none;
}

.react-international-phone-country-selector-button:hover {
  background-color: #f3f4f6 !important;
}

.react-international-phone-country-selector-dropdown {
  border-radius: calc(var(--radius) - 4px) !important;
  max-height: 10rem !important;
  box-shadow: none !important;
  outline: none !important;
  top: 4rem !important;
  overflow-y: auto !important;
}

.react-international-phone-country-selector-dropdown__list-item {
  padding: 0.5rem 0 !important;
}

/* Custom scrollbar for notifications */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* Blue color for thumb */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e0e7ff; /* Light blue color for track */
}

/* Debug mode */
.debug * {
  outline: 1px solid tomato;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-nunito {
  font-family: "Nunito Sans", sans-serif;
}
