DYNAMODB_ACCESS_KEY_ID=local
DYNAMODB_SECRET_ACCESS_KEY=local
DYNAMODB_SESSION_TOKEN=local
DYNAMODB_REGION=us-west-2
DYNAMODB_ENDPOINT=http://localhost:8000

PROJECT_NAME=SYGAR
NODE_ENV=Staging

SUPERADMIN_EMAIL=superadmin@hood.com
SUPERADMIN_PASSWORD=superadmin

ADMIN_EMAIL=admin@hood.com
ADMIN_PASSWORD=admin

JWT_SECRET=JWT_SECRET
